utils/__pycache__/
__pycache__
*.png
__pycache__/constrain_cubes_standard.cpython-312.pyc
/logs
*.out
*.err
submit*.sh
explore_DataPrep.ipynb # this is used for exploratory testing 
/Shapefiles
/__pycache__
/spice_scripts/logs
PDF_95%.py
